* {
  margin: 0;
  padding: 0;
}

:root {
  --bg-gris: #0b0f17;
  --bg-black: #000000;
  --bg-violet: #7258f2;
  --bg-violet2: #7e55ff;
  --bg-grayclaro: #a0aec0;
  --text-gray: #888888;
}

html {
  background-color: var(--bg-black);
}

.register {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 170px;
}

.register-card {
  background: var(--bg-gris);
  padding: 20px;
  width: 15%;
  height: 65%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-2 img {
  width: 390px;
}

.content {
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.content h1 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.content p {
  font-family: "Montserrat", sans-serif;
}

.content input {
  height: 25px;
}

.btn-register {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.btn-register a {
  font-family: Roboto Mono, monospace;
  color: white;
  border: 1px solid var(--bg-violet2);
  padding: 12px;
  border-radius: 10px;
  text-decoration: none;
  transition: background-color 2s;
}

.btn-register a:hover {
  background-color: var(--bg-violet);
}

@media (max-width: 600px) {
  .register-card {
    width: 300px;
  }
}
